/* general style */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* header */

header {
    background-color: #0084FD;
}
.navbar {
    height: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 12rem;
    margin-right: 12rem;
}
.listbar {
    list-style: none;
    display: flex;
    align-items: center;
}
.navbar .listbar a {
    color: white;
    text-decoration: none;
}
.navbar .listbar li {
    margin-inline: 1rem;
}
.navbar .listbar button {
    padding: .5rem .5rem;
    border-radius: 2rem;
    margin-bottom: 1rem;
}
.bars {
    display: none;
}
.navham {
    color: white;
}

@media (max-widht: 768px) {
    
}

/* MAIN */

/* section-1 */

.container {
	max-width: 1000px;
	margin-inline: auto;
	padding-inline: 1rem;
    margin-top: 2rem;
}

.grid {
	--gapx: 1rem;
	--gapy: 2rem;
}

.cells {
    display: flex;
	flex-wrap: wrap;
}
.phone {
    width: 30%;
}
.cell-hero .content {
    display: flex;
    justify-content: space-between;
    padding-inline: 1rem;
    text-align: left;
}
.cell-hero .content h2,p,button {
    margin-top: 1rem;
}
.cell-hero .content button {
    color: white;
    background-color: #1F93FD;
    padding: .5rem 2rem;
    border-radius: 1rem;
}
.cell .content h2 {
    color: #1F93FD;
}
.cell .content {
	height: 250px;
}
.content {
    background-color: #B5DDFF;
    border-radius: 1rem;
    text-align: center;
}
.cell .content .file,.compass,.pc,.horn {
    font-size: 4rem;
    color: #1F93FD;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.grid {
	overflow: hidden;
}

.cells {
	margin: 0 calc(-1 * var(--gapx) / 2) calc(-1 * var(--gapy));
}

.cell {
	flex-basis: 33.3333%;
	padding: 0 calc(var(--gapx) / 2) var(--gapy);
}

.cell-hero {
	flex-basis: 66.6666%;
}

/* section-2 */

.sec-2 {
    background-color: #9792E4;
}
.sec-2 .container {
    display: flex;
    align-items: center;
    max-width: 800px;
    background-color: #9792E4;
    height: 500px;
}
.plan {
    flex-basis: calc(100% / 2);
    padding-inline: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.plan-1 img {
    margin-bottom: 4rem;
}
.plan-1 h2 {
    margin-bottom: 1rem;
}
.plan-2 {
    background-color: white;
    border-radius: 1rem;
    align-self: flex-end;
    margin-bottom: 1rem;
}
.sec-2 .container .plan-1 img {
    width: 60%;
}
.sec-2 .container .plan-2 img {
    width: 40%;
}
.arrow {
    padding: .5rem;
    background-color: #9792E4;
    border-radius: 100%;
}

/* section-3 */

.text-title {
    text-align: center;
}
.sec-3 .container .text-title h1 {
    font-size: 3rem;
    color: #9792E4;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.card {
    background-color: #9792E4;
    padding-inline: 1rem;
    border-radius: 1rem;
    display: flex;
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin-bottom: 1rem;
}
.sec-3 .container .card img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    padding: 1rem;
}
.card .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    padding-inline: 1rem;
}
.card .text h4 {
    margin-top: 3rem;
}

/* section-4 */

.sec-4 {
    background-color: #9792E4;
}
.sec-4 .container h1 {
    font-size: 3rem;
    color: white;
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align: center;
}
.benefits {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}
.benefit {
    background-color: white;
    border-radius: 1rem;
    padding-inline: 1rem;
    width: calc(100% / 3 - 1rem);
}
.sec-4 .container .benefits .benefit h1 {
    color: #9792E4;
    text-align: left;
}
.sec-4 .container .benefits h2 {
    color: #9792E4;
}
.sec-4 .container .benefits .benefit button {
    background-color: #9792E4;
    color: white;
    padding: .5rem 3rem;
    border-radius: 2rem;
    margin-bottom: 1rem;
}